body {
  background-color: grey;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(1, 0, 58);
}
h1 {
  font-family: unset;
}
p {
  color: beige;
}
button {
  border-radius: 50px;
  background-color: rgb(140, 155, 240);
  padding: 3px 6px;
  cursor: pointer;
  color: azure;
}
button:hover {
  background-color: rgb(19, 1, 61);
  margin-bottom: 10px;
}
label {
  color: rgb(1, 15, 146);
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
input {
  margin-top: 10px;
}
#tit {
  color: rgb(255, 255, 255);
  font-style: initial;
}
h3 {
  text-align: left;
  font-family: "Courier New", Courier, monospace;
}
